body{
    font-family: Arial, sans-serif;
    background:url('/Luminous Trails@1x-3.3s-1280px-559px.svg') no-repeat center center fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.welcome-box,.joke-box{
    background-color: #bcc3de;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(78, 77, 77, 0.1);
    text-align: center;
    min-width: 600px;
    height: auto;
    width: 100%;
}

.welcome-box .avatar{
    width: 150px;
    height: 150px;
    background: url(/funny-avatar-icons.svg) no-repeat center center;
    background-size: cover;
    border-radius: 50px;
    margin: 0 auto 40px;
}

.welcome-box h3{
    font-size: 2em;
    margin-bottom: 10px;
    color: #444444;
}

.welcome-box p{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #6666;
}

.start-btn{
    background: #9e7d7d;
    color: wheat;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s;
}

.start-btn:hover {
    background: #218838;
}

.joke-text{
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #333;
}

.loading{
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #333;
}

.button-group{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn{
    background: #007fbb;
    color: wheat;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s;
}

.btn:hover{
    background:#0056b4;
}

.btn:disabled{
    background: #007fbb;
    cursor: not-allowed;
}

@media (max-width:760px) {
    .welcome-box,.joke-box{
        padding: 15px;
    }
    .welcome-box h3,.joke-text{
        font-size: 1.2em;
    }
    .welcome-box p,.loading{
        font-size: 1em;
    }
    .btn,.start-btn{
        padding: 8px 16px;
    } 
}